---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  {% if page.subtitle %}
     <h2>{{ page.subtitle }}</h2>
  {% endif %}

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <!-- {% include disqus.html %} -->

  <p style="margin: 20px 0">
    <strong>Note:</strong> To like and comment on this blog post, sign in with Github. 
    Refer to the <a href="{{ site.baseurl }}/comment-with-github">how-to page</a> 
    if you encounter any issues.
  </p>
  
  {% include giscus.html %}
</article>
