---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  {% if page.subtitle %}
     <h2>{{ page.subtitle }}</h2>
  {% endif %}

  {% include older_newer_posts.html %}

  <p class="like_share_comment">
    <a href="#like_comment">
      <img src="{{ site.baseurl }}/images/heart_outline.jpg" width="22" alt="Like/Comment">
    </a>
    <a href="#share-blog-post">
      <img src="{{ site.baseurl }}/images/share_icon.png" width="22" alt="Share">
    </a>
  </p>

  <div class="entry">
    {{ content }}

    <p>
      If you enjoyed this post, please 
      <a href="#share-blog-post">share it</a>
      with your friends and explore more technical posts on 
      <a href="{{ site.baseurl }}">the home page.</a> 
      🙂.

      If you find any bug or have a suggestion about this blog, 
      <a href="#like_comment">comment</a>, raise an issue on 
      <a href="https://github.com/sohang3112/sohang3112.github.io/issues">the Github repo of this blog</a>
      , or <a href="#contact-me">contact me directly</a>.
    </p>
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  <p id="share-blog-post">
    {% include share_post.html %}
  </p>

  {% include older_newer_posts.html %}

  <!-- {% include disqus.html %} -->

  <p id="like_comment" style="margin-top: 3rem">
    <strong>Note:</strong> To like and comment on this blog post, sign in with Github. 
    Refer to the <a href="{{ site.baseurl }}/comment-with-github">how-to page</a> 
    if you encounter any issues.
  </p>
  
  {% include giscus.html %}
</article>

<script>
  // highlight "Blog" tab - current location
  document.querySelector('header-tab.blog').classList.add('selected');
</script>
